body {
    text-align: center;
}

.loadingModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../images/loading.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   loading modal will be visible */
body.loading .loadingModal {
    display: block;
}

.title {
    background-color: #3081C3;
    color: #fff;
    padding: 10px 0px;
    margin-bottom: 0px;
}

.error {
    margin-bottom: 7px;
    background-color: #E31717;
    color: #fff;
    visibility: hidden;
}

.currencyInput {
    padding: 0px 10px;
    overflow: hidden;
    display: inline-block;
}

.currencyInput.selected {
    border: 1px solid #33C3F0;
    outline: 0;
}

.currencyInput input {
    border: none;
}

.currencyInput input:focus {
    outline: 0;
    border: none;
}

.button.button-primary:hover {
    background-color: #3081C3;
    border: 1px solid #3081C3;
}

.button.button-primary {
    background-color: #fff;
    border: 1px solid #3081C3;
    color: #3081C3;
}

#footer {
    color: #aaa;
}

/* make the currency input look nice on small screens */
@media (max-width: 550px) {
    #currencySelector {
        margin: auto 10%;
        width: 80%;
    }
}